---
export interface Props{
    title:string,
}

const {title,} = Astro.props
---

<nav class="space-y-1">
    <h2 class="capitalze font-semibold text-heading-1 text-xl">
        {title}
    </h2>
</nav>