---
import CustomerTestimonials from "../components/sections/testimonials/CustomerTestimonials.astro";
import EnvironmentalImpact from "../components/sections/environment/EnvironmentalImpact.astro";
import FeaturedProjects from "../components/sections/featured/FeaturedProjects.astro";
import GetInvolved from "../components/sections/cta/GetInvolved.astro";
import Hero from "../components/sections/hero/Hero.astro";
import KeyServices from "../components/sections/services/KeyServices.astro";
import LatestInnovations from "../components/sections/innovations/LatestInnovations.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to the Agency template ">
  <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden">
    <!-- Hero Section: -->
    <!-- High-quality image or animation of renewable energy sources. -->
    <!-- Headline and subheading centered on the page. -->
    <Hero />

    <KeyServices />
    <!-- Key Services Overview: -->
    <!-- Provide a brief overview of your main green energy services. -->
    <!-- Use engaging visuals and concise text to highlight the benefits. -->
    <!-- Include a call-to-action button leading to detailed service information. -->

    <!--<LatestInnovations />-->


    <EnvironmentalImpact />
    <!-- Environmental Impact: -->
    <!-- Showcase the positive impact users can make by choosing your services. -->
    <!-- Use statistics, infographics, or visuals to illustrate the environmental benefits. -->
    <!-- Emphasize the role your company plays in promoting sustainability. -->

    <FeaturedProjects />
    <!-- Featured Projects or Case Studies: -->
    <!-- Showcase successful green energy projects your company has undertaken. -->
    <!-- Provide details on the impact and success of these projects. -->
    <!-- Encourage users to explore more about your company's achievements. -->

    <!--<GetInvolved />-->
    <CustomerTestimonials />
  </main>
</Layout>
