---
import CustomerTestimonials from "../components/sections/testimonials/CustomerTestimonials.astro";
import EnvironmentalImpact from "../components/sections/environment/EnvironmentalImpact.astro";
import FeaturedProjects from "../components/sections/featured/FeaturedProjects.astro";
import GetInvolved from "../components/sections/cta/GetInvolved.astro";
import Hero from "../components/sections/hero/Hero.astro";
import KeyServices from "../components/sections/services/KeyServices.astro";
import LatestInnovations from "../components/sections/innovations/LatestInnovations.astro";
import Layout from "../layouts/Layout.astro";
import button from "../components/shared/Button.astro";
---

<Layout title="Soluciones Integrales">
    <div class="fixed flex z-10 bottom-4 right-4 w-fit">
        <a href="https://wa.link/jrntup" target="_blank"><img src="/public/social.png" alt="Descripción de la imagen" class="my-4 h-12 w-12"/></a>
    </div>
    <main class="flex flex-col gap-y-20 md:gap-y-40 overflow-hidden relative">
        <Hero/>
        <KeyServices/>
        <!--<LatestInnovations />-->
        <EnvironmentalImpact/>
        <FeaturedProjects/>
        <!-- Featured Projects or Case Studies: -->
        <!-- Showcase successful green energy projects your company has undertaken. -->
        <!-- Provide details on the impact and success of these projects. -->
        <!-- Encourage users to explore more about your company's achievements. -->

        <!--<GetInvolved />-->
        <CustomerTestimonials/>
    </main>
</Layout>
